apiVersion: apps/v1
kind: Deployment
metadata:
  name: nlp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nlp
  template:
    metadata:
      labels:
        app: nlp
    spec:
      containers:
      - name: nlp
        image: trueque-nlp:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: nlp-service
spec:
  type: NodePort
  selector:
    app: nlp
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000
      nodePort: 32000
