# Python
__pycache__
*.pyc
*.pyo
*.pyd
*.pkl
*.log

# Entornos virtuales
venv/
env/
.venv/

# Git
.git
.gitignore

# Entornos y secrets
.env
*.en

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Sistema
.DS_Store
Thumbs.db